<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import stretch_description urdf file -->
    <xacro:include filename="$(find stretch_description)/urdf/exported_urdf/stretch.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="stretch_description.ros2_control.xacro" />


    <xacro:stretch_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
